# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
#PassengerAppRoot "/home/cambioso/public_html/orionapp"
#PassengerBaseURI "/orionapp"
#PassengerNodejs "/home/cambioso/nodevenv/public_html/orionapp/16/bin/node"
#PassengerAppType node
#PassengerStartupFile "app.js"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
