# Habilitar reescritura
RewriteEngine On

# Redirigir solicitudes al verificador de autenticación
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ auth.php [L]

# Redirigir todas las solicitudes no existentes a index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

RewriteCond %{HTTP_REFERER} !^http://admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pizarras.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pizarras.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pizarras.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pizarras.cambiosorion.cl$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ https://cambiosorion.cl/sin-acceso [R,NC]

