body {
    background: url('https://cambiosorion.cl/orionapp/assets/FondoOrion.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Efecto de resplandor para los números grandes */
.text-shadow-glow {
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}

/* Ocultar scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}