/* Estilos globales y Fondo */
body {
    @apply font-sans bg-white;
    margin: 0;
    padding: 0;
    /* Tu imagen de fondo original */
    background: rgba(0, 0, 0, 0.45) url('https://cambiosorion.cl/orionapp/assets/FondoOrion.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

/* Degradado negro superpuesto */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 60%, black 100%);
    pointer-events: none;
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

/* Utilidades específicas */
.hidden {
    display: none;
}

/* Clases para animaciones o transiciones si las necesitas */
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}