/* Solo definimos el fondo aquí porque Tailwind no conoce la URL por defecto */
body {
    background: url('https://cambiosorion.cl/orionapp/assets/FondoOrion.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Opcional: una clase utilitaria para darle "brillo" al texto de los números si quieres extra efecto */
.text-shadow-blue {
    text-shadow: 0 0 20px rgba(59, 130, 246, 0.5); /* Azul brillante */
}

/* Ocultar barra de scroll para modo kiosco/TV */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}