/* Estilos globales */
body {
    @apply font-sans bg-white;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.45) url('/orionapp/assets/FondoOrion.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

/* Degradado solo en la imagen de fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 60%, black 100%);
    pointer-events: none;
    z-index: -1;
}

html, body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: relative;
    flex-wrap: wrap;
}

/* Logo y nombre */
.header-logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header-logo img {
    height: auto; /* Mantén las proporciones */
}

.header-logo img.logo {
    width: 60px;
    margin-right: 10px;
}

.header-logo img.nombre {
    width: 100px;
}

/* Estilos para el menú de navegación en escritorio */
nav {
    display: block;
}

/* Menú de navegación */
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 50px;
}

nav ul li {
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li.selected a {
    border-bottom: 2px solid white;
}

/* Iniciar Sesión y Registrarse */
.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header-actions a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header-actions .register-button {
    @apply bg-blue-500 text-white p-2 rounded-md font-bold transition-transform duration-200;
    background-color: #3f83f8;
    border-radius: 8px;
    padding: 8px
}

.header-actions .register-button:hover {
    transform: scale(1.05);
}

/* Línea divisoria blanca de 1pt debajo del header */
.header-divider {
    height: 0.5px;
    align-self: center;
    background-color: white;
    width: 80%;
    z-index: 1;
}

/* Estilo para el contenedor de la tabla */
.table-container {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Ancho ajustado según tus necesidades */
    max-width: 800px; /* Ancho máximo para evitar ser demasiado grande */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para el contenedor */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Mantiene el tamaño fijo de las columnas */
    margin-bottom: 0; /* Eliminar el margen inferior de la tabla */
}

/* Estilo para el contenedor de la tabla */
.table-container {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Ancho ajustado según tus necesidades */
    max-width: 800px; /* Ancho máximo para evitar ser demasiado grande */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para el contenedor */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Mantiene el tamaño fijo de las columnas */
    margin-bottom: 0; /* Eliminar el margen inferior de la tabla */
}

th, td {
    padding: 0.5px; /* Cambia el padding a un valor más pequeño */
    text-align: center; /* Centrar el texto en todas las celdas */
    font-size: 1.3em;
    line-height: 1.1;
    vertical-align: bottom; /* Alinear el contenido al fondo */
    width: 25%; /* Todas las columnas tendrán el mismo ancho */
}

th {
    background-color: transparent;
}

th.compra, th.venta {
    font-size: 1.6em;
}

th.icono, th.nombre {
    visibility: hidden; /* Opcional: si deseas ocultar estos encabezados */
}

.logo-container img {
    width: 200px; /* Tamaño del logo */
    height: auto;
    margin-bottom: -10px; /* Reduce la distancia entre el logo y la tabla */
}

tr {
    border-bottom: 1px solid white;
}

thead tr {
    border-bottom: none; /* Sin borde para la fila del encabezado */
}

img {
    width: 25px; /* Reduce el tamaño de los iconos */
    height: 25px;
    object-fit: cover; /* Ajustar el contenido dentro del círculo */
}

/* Ajustar padding para mantener iconos cerca del borde izquierdo */
td.icono {
    padding-left: 5px; /* Menos espacio a la izquierda */
    text-align: left; /* Alinear a la izquierda */
}

/* Ajustar padding para acercar nombres a los iconos */
td.nombre {
    padding-left: 1px; /* Menos espacio a la izquierda para nombres */
}

/* Estilo para los botones */
#save-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ajustar el ancho del botón */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

#save-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Estilo para el contenedor de los botones de catálogo */
.catalog-button-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    width: 100%; /* Ancho completo */
    margin-top: 10px; /* Espaciado arriba */
}

/* Estilo para los botones de catálogo */
#catalog-button-normal, #catalog-button-destacadas {
    padding: 10px;
    font-size: 1.2em;
    background-color: #28a745; /* Color verde para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Para que ocupen el mismo espacio */
    margin: 0 5px; /* Espacio entre los botones */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

#catalog-button-normal:hover, #catalog-button-destacadas:hover {
    background-color: #218838; /* Color de fondo al pasar el mouse */
}

/* Estilo para los inputs de precios */
input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: 150px; /* Ancho ajustado para evitar solapamientos */
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    color: white; /* Color del texto */
    display: inline-block; /* Asegura que se mantenga el tamaño */
}

/* Estilo para el texto adicional */
.info {
    margin-top: 5px; /* Distancia mínima con la tabla */
    text-align: center; /* Centrar el texto */
    font-size: 1.1em; /* Ajustar el tamaño de la fuente */
}

th, td {
    padding: 0.5px; /* Cambia el padding a un valor más pequeño */
    text-align: center; /* Centrar el texto en todas las celdas */
    font-size: 1.3em;
    line-height: 1.1;
    vertical-align: bottom; /* Alinear el contenido al fondo */
    width: 25%; /* Todas las columnas tendrán el mismo ancho */
}

th {
    background-color: transparent;
}

th.compra, th.venta {
    font-size: 1.6em;
}

th.icono, th.nombre {
    visibility: hidden; /* Opcional: si deseas ocultar estos encabezados */
}

.logo-container img {
    width: 200px; /* Tamaño del logo */
    height: auto;
    margin-bottom: -10px; /* Reduce la distancia entre el logo y la tabla */
}

tr {
    border-bottom: 1px solid white;
}

thead tr {
    border-bottom: none; /* Sin borde para la fila del encabezado */
}

img {
    width: 25px; /* Reduce el tamaño de los iconos */
    height: 25px;
    object-fit: cover; /* Ajustar el contenido dentro del círculo */
}

/* Ajustar padding para mantener iconos cerca del borde izquierdo */
td.icono {
    padding-left: 5px; /* Menos espacio a la izquierda */
    text-align: left; /* Alinear a la izquierda */
}

/* Ajustar padding para acercar nombres a los iconos */
td.nombre {
    padding-left: 1px; /* Menos espacio a la izquierda para nombres */
}

/* Estilo para el botón */
#save-button, #catalog-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ajustar el ancho del botón */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

#save-button:hover, #catalog-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Estilo para los inputs de precios */
input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: 150px; /* Ancho ajustado para evitar solapamientos */
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    color: white; /* Color del texto */
    display: inline-block; /* Asegura que se mantenga el tamaño */
}

/* Estilo para el texto adicional */
.info {
    margin-top: 5px; /* Distancia mínima con la tabla */
    text-align: center; /* Centrar el texto */
    font-size: 1.1em; /* Ajustar el tamaño de la fuente */
}

.menu-button {
    display: none;
}

/* Estilo para las opciones del menú */
.mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.mobile-menu li {
    margin: 12px 0; /* Espacio entre los elementos */
}

.mobile-menu a {
    color: white;
    font-size: 18px; /* Tamaño de fuente más grande */
    text-decoration: none;
    display: block;
    padding: 8px 0; /* Espacio interno en los enlaces */
}

/* Añadir una línea debajo de la opción seleccionada */
.mobile-menu a.selected {
    border-bottom: 2px solid white; /* Línea amarilla debajo de la opción activa */
}

/* Mostrar versión completa en escritorio */
.desktop-nav,
.desktop-actions {
    display: flex;
}

@media (max-width: 887px) {

    /* Menú de navegación y botones de sesión ocultos en móvil */
    nav {
        display: none;
    }

    nav ul {
        flex-direction: column; /* Cambia a columna */
        gap: 10px; /* Espacio entre los elementos en columna */
    }

    /* Mostrar versión simplificada en móvil */
    .mobile-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    /* Ocultar menú de escritorio en móvil */
    .desktop-nav,
    .desktop-actions {
        display: none;
    }
    
    .mobile-only {
        display: block;
    }

    /* Ocultar elementos de escritorio en pantallas móviles */
    .desktop-nav, .desktop-actions {
        display: none;
    }

    .header-actions {
        display: none;
        flex-direction: column; /* Cambia a columna */
        align-items: flex-start; /* Alinea a la izquierda */
        gap: 8px;
    }

    .header-actions,
    nav {
        display: none;
    }

    .header-logo {
        display: flex;
        justify-content: center;
    }

    .header-logo img.logo {
        width: 60px; /* Reduce el tamaño del logo */
    }

    .header-logo img.nombre {
        width: 100px; /* Reduce el tamaño del nombre */
    }

    .header-actions .register-button {
        padding: 6px 12px; /* Ajusta el padding de los botones en pantallas pequeñas */
    }

    .menu-button {
        background: none;
        border: none;
        width: 40px;
        height: 40px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Contenedor para alinear los botones de menú en la versión móvil */
    .mobile-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-right: 16px;
    }

    /* Menús desplegables en versión móvil */
    .mobile-menu {
        position: absolute;
        right: 20px;
        top: 70px; /* Ajustar para que aparezca debajo del botón */
        background-color: black;
        border-radius: 8px;
        padding: 10px;
        width: 150px;
        z-index: 999;
    }

    .mobile-menu ul li {
        margin: 0.5rem 0;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 8px 0;
    }

    .menu-button img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
