/* Estilos globales */
body {
    @apply bg-white;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.45) url('https://cambiosorion.cl/orionapp/assets/FondoOrion.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

/* Aplicar Inter globalmente */
body, html, input, textarea, button, select {
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Degradado solo en la imagen de fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 60%, black 100%);
    pointer-events: none;
    z-index: -1;
}

html, body {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/* Clase para el contenido principal */
.main-content {
    flex: 1;
}

/* Sección principal del conversor */
.container {
    @apply max-w-lg mx-auto bg-white p-10 rounded-lg shadow-lg;
}

h2 {
    @apply text-2xl font-semibold text-white text-center mb-6;
}

.accordion {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.accordion-header {
    transition: background-color 0.2s ease;
}

.accordion-header:hover {
    background-color: #f3f4f6; /* Light gray */
}

.accordion-body {
    border-radius: 0 0 0.75rem 0.75rem; /* Solo bordes inferiores redondeados */
    border-top: 1px solid #e5e7eb; /* Tailwind gray-300 */
}

a.fab {
    right: 3.5rem;
    bottom: 2rem;
    background: #21479e;
    z-index: 99999;
}

a.fab:hover {
    transform: scale(1.1);
    background: #3d63ba;
}

/* Estilos para la versión móvil */
@media (max-width: 887px) {
    a.fab {
        right: 1.5rem;
        bottom: 1rem;
    }    

}
