/* Contenedor principal del footer */
footer {
    background: black; /* Fondo negro sólido */
    color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 1.5rem;
    z-index: 2;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre las 3 secciones */
}

/* Sección del logo */
.footer-logo {
    display: flex;
    flex-direction: column; /* Para alinear el nombre debajo del logo */
    align-items: center;
    margin-right: 0.4rem; /* Reducido el espacio horizontal entre el logo y el mapa de navegación */
}

.footer-logo .logo {
    width: 12rem;
    /*margin-bottom: 10px;*/
}

.footer-logo .nombre {
    width: 150px; /* Ancho del nombre */
    height: auto; /* Mantén las proporciones */
}

/* Mapa de navegación */
.footer-navigation {
    display: flex; /* Para alinear las secciones del menú en una fila */
    justify-content: space-between; /* Espacio entre las secciones */
    width: 50%; /* Tomar todo el ancho disponible */
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan si no hay espacio */
}

.nav-section {
    display: flex;
    flex-direction: column; /* Apilar los elementos dentro de cada sección */
    align-items: flex-start; /* Alinear a la izquierda */
    width: 30%; /* Ajustar el ancho según lo necesario */
}

.footer-navigation h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-navigation ul {
    display: flex;
    flex-direction: column; /* Apilar los elementos de la lista verticalmente */
    list-style: none; /* Sin viñetas */
    padding: 0;
    margin: 0; 
    gap: 5px; /* Reducido el espacio entre los elementos del menú */
}

.footer-navigation li {
    margin-bottom: 5px;
}

.footer-navigation a {
    color: white
}

/* Información de contacto */
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0.2rem;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item img.icon {
    width: 30px;
    height: 30px;
    object-fit: cover; 
}

.contact-item p {
    margin: 0;
}

.contact-item small {
    font-size: 12px;
    color: #d1d0d0;
}

/* Redes sociales */
.social-media {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-left: 0.3rem;
}

.social-media img {
    width: 30px;
    height: auto;
    transition: transform 0.2s ease;
}

.social-media img:hover {
    transform: scale(1.1);
}

.contact-item img.icon:hover {
    transform: scale(1.1);
}

/* Footer copyright */
.footer-copyright {
    text-align: center;
    padding: 20px 0;
    background-color: #f9f9f9;
}

@media (max-width: 887px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-navigation {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        width: 100%;
        justify-content: center;
    }

    .footer-contact {
        margin-bottom: 0;
        margin-left: 0;
    }

    .social-media {
        flex-direction: row;
        margin-top: 1.2rem;
        margin-bottom: 1rem;
    }
}