/* header.css */

/* Tailwind maneja todo el layout. Solo dejamos utilidades personalizadas */

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Opcional: Si quieres que el logo tenga una transición suave al cambiar de tamaño */
img {
    transition: all 0.3s ease;
}