RewriteEngine on

# Redirigir solicitudes al verificador de autenticacion
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ https://cambiosorion.cl/data/auth.php [L]

# Establecer index.php como la página principal
DirectoryIndex operaciones.html

RewriteCond %{HTTP_REFERER} !^http://admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pizarras.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pizarras.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pizarras.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clientes.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clientes.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intranet.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intranet.cambiosorion.cl$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pizarras.cambiosorion.cl/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pizarras.cambiosorion.cl$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ https://cambiosorion.cl/sin-acceso [R,NC]

