RewriteEngine on

# Bloquear acceso a clientes en subdominios administrativos
RewriteCond %{HTTP_COOKIE} user_role=(cliente|persona|empresa) [NC]
RewriteRule ^ https://cambiosorion.cl/sin-acceso [R=302,L]

# Si el usuario NO tiene una sesión activa, redirigir al login de administradores
#RewriteCond %{HTTP_COOKIE} !PHPSESSID [NC]
RewriteRule ^(.*)$ https://admin.cambiosorion.cl/login [R,L]

# Si el usuario no es admin, redirigir a /sin-acceso
#RewriteCond %{HTTP_COOKIE} !admin_authenticated=true [NC]
#RewriteRule ^(.*)$ https://cambiosorion.cl/sin-acceso [R,L]

# Establecer index.html como página de inicio
DirectoryIndex operaciones.html

# Ocultar extensión .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]

# Redirigir URLs con .html a la versión sin extensión (opcional)
RewriteCond %{THE_REQUEST} \s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# Permitir solo acceso a imagenes (opcional)
RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png|bmp)$ [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ https://cambiosorion.cl/sin-acceso [R,NC]

# Configuracion PHP (No modificar)
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
