RewriteEngine on

# Si el usuario es cliente, redirigirlo fuera
RewriteCond %{HTTP_COOKIE} user_role=(cliente|persona|empresa) [NC]
RewriteRule ^ https://cambiosorion.cl/sin-acceso [R=302,L]

# Si el usuario NO tiene una sesion activa, redirigir a login
#RewriteCond %{HTTP_COOKIE} !PHPSESSID [NC]
#RewriteRule ^(.*)$ https://admin.cambiosorion.cl/login [R,L]

# Si el usuario no es admin, redirigir a /sin-acceso
#RewriteCond %{HTTP_COOKIE} !admin_authenticated=true [NC]
#RewriteRule ^(.*)$ https://cambiosorion.cl/sin-acceso [R,L]

# Establecer index.html como pagina de inicio
DirectoryIndex index.html

# Ocultar extensiones .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

# Permitir solo acceso a imagenes (opcional)
RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png|bmp)$ [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ https://cambiosorion.cl/sin-acceso [R,NC]

# Configuracion PHP (No modificar)
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
